* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  background: #f7f8fa
}

.container {
  width: 100%
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
    background: linear-gradient(180deg, rgba(18, 18, 79, 0.7) 0%, rgba(1, 1, 49, 0.3) 100%);
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.nav-link a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.nav-link a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.4s ease;
}

.nav-link a:hover::after {
  width: 100%;
}

.logo {
  height: 50px;
  display: flex;
  align-items: center;
}

.logob {
  display: flex;
}

.categoriess {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.categoriess img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.categoriess h3 {
  font-size: 16px;
  font-weight: 400;
}

.nav-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}

.acc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.acc img {
  width: 30px;
  height: 30px;
}

.btn {
  width: 150px;
  height: 40px;
  border: 1px solid #14A077;
  border-radius: 1px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn a {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

.hero {
   background: linear-gradient(180deg, rgba(18, 18, 79, 0.7) 0%, rgba(1, 1, 49, 0.3) 100%);
  color: #fff;
  padding: 80px 120px;
  height: 75vh;
}

.hero h1 {
  font-size: 48px;
  max-width: 500px;
  line-height: 1.2
}

.hero p {
  margin-top: 16px;
  max-width: 520px;
  opacity: .85
}

.search {
  margin-top: 32px;
  display: flex;
  max-width: 800px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  padding: 5px 10px;
}

.search input,
.search select {
  margin-right: 10px;
  border: none;
  padding: 16px;
  flex: 1;
  outline: none
}

.map {
  width: 22px;
  height: 22px;
  margin-top: 13px;
}

.search input {
  border-right: 1px solid #E5E5E5;
}

.search button {
  width: 200px;
  background: #1fbf8f;
  border: none;
  color: #fff;
  padding: 0 32px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
}

.hero-staff {
  margin-top: 20px;
  display: flex;
  gap: 25px;
  cursor: pointer;
}
