.wrapper{
    width: 100%;
    height: auto;
    padding: 0 0 50px 0;
    background: #FFFFFF;
}
.wrapper_about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
}